@import "bourbon";
@import "neat";
@import "font-awesome";

body {
  background-size: cover;
  background-image: url(http://365psd.com/images/premium/thumbs/189/man-runner-silhouette-vector-background-template-concept-made-of-stripes-844667.jpg);
}

.app {
  margin-top: 30px;
  @include outer-container;
}

input {
  width: 190%;
  height: 50px;
  border-radius: 6px;
  border: none;
  margin-top: 3px;
  margin-left: 8%;
}

button {
  color: #ED2B98;
  width: 92%;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  background-color: #ADD8E6;
  border: none;
  border-radius: 6px;
  margin-top: 3px;
  margin-left: 4%;
  &:hover {
    background-color: yellow;
    color: black;
  }
}

.tabContainer {
  @include span-columns(6);
  @include shift(3);
  background-color: #4BB8D1;
  height: 400px;
  border-radius: 6px;
}

h1 {
  text-align: center;
  color: white;
  font-size: 2em;
  font-weight: bold;
}

.insideLogin {
  margin-top: 15%;

}

form {
  @include span-columns(6);
  margin-top: 20px;
}

p {
  text-align: center;
  width: 50%;
  color: white;
}

// Dashboard

.dashboard {
  @include outer-container;
  background: #4BB8D1;
  border-radius: 6px;
  margin-bottom: 20px;

}

.dashboardButton {
  width: 100px;
  height: 30px;
  margin-left: 0px;
  background-color: #968DD3;
  color: #ED2B98;
  text-decoration: none;
  font-size: 16px;
  font-family: monospace;
    &:hover {
    background-color: yellow;
    color: black;
  }
}

.recentDecks {
  color: white;
  text-align: left;
  margin: 0;
  padding: 25px 10px 10px 20px;
  font-size: 25px;
  font-weight: bold;
  font-family: monospace; 
}

.decktitles {
  font-family: monospace;
  font-size: 25px;
  color: blue;
  text-align: center;
}

.gamecards {
  @include span-columns(4);
  @include omega(8n);
  width: 150px;
  height: 200px;
  border: 1px solid #3E8ACC;
  margin: 10% 2% 2% 2%;
  border-radius: 6px;
  background: black;
}
.signoutbut {
  width: 20%;
}

